Mopidy==2.0.1
Mopidy-Local-SQLite

# Switch Mopidy-Youtube back to normal once https://github.com/mopidy/mopidy-youtube/pull/46 is merged
-e git+https://github.com/chatziko/mopidy-youtube@performance-improvements-3#egg=Mopidy-Youtube

pip-tools==1.6
pysqlite
requests[security]
certifi==2015.4.28
-e mopidy-cacher
-e mopidy-musicbox-webclient

Mopidy-Tachikoma>=0.2.3

# Fixes https://github.com/pyca/cryptography/issues/2750
cryptography>=1.2.3

youtube-dl>=2016.8.13
